{% for bounty in bounties %}
<tr>

    <td class="mdl-data-table__cell--non-numeric mdl-text-bold">{{ bounty.vuln }}</td>
    <td class="mdl-data-table__cell--non-numeric" onclick=$('#bounty-{{ bounty.id }}').toggle();>{{ bounty.title }}</td>

    <td class="mdl-data-table__cell--non-numeric" >{{ bounty.award }}</td>
    	{% if bounty.status == 'open' %}
    		<td onclick="bounty_status({{ bounty.id }}, 'close')">
    		<span class="mdl-chip mdl-color--green-300">
    			<span class="mdl-chip__text">Open</span>
    		</span>
    	</td>
    	{% else %}
	    	<td onclick="bounty_status({{ bounty.id }}, 'open')">
	     		<span class="mdl-chip mdl-color--pink-300">
	    			<span class="mdl-chip__text">Close</span>
	    		</span>
	    	</td>
	    {% endif%}

	 <td><a href="#edit" onclick="edit_bounty_{{ bounty.id }}()"><i class="material-icons">create</i></a></td>
	 <td><a href="#delete" onclick="delete_bounty({{ bounty.id }})"><i class="material-icons">delete_sweep</i></a></td>



</tr>
<tr id='bounty-{{ bounty.id }}'>
   	<td colspan="6" class='bounty-content' >
   		<p><b>Description: </b><br/>{{ bounty.description|nltobr|safe }}</p>
   	</td>
</tr>
		   
<script type="text/javascript">
// Hide bounty description
	$('#bounty-{{ bounty.id }}').hide();
</script>
{% endfor %}