
<!-- Dialog to edit a bounty -->
 <dialog class="mdl-dialog" id="edit-dialog">
   <h4 class="mdl-dialog__title">Edit Bounty</h4>

	   <form id="editbounty-form" action="POST">
	    <div class="mdl-dialog__content">

	     <div class="mdl-textfield mdl-textfield-mini mdl-js-textfield mdl-textfield--floating-label">
	     	<input type="hidden" name="table" id="table" value="bounties">
	     	<input type="hidden" name="id" id="bountyid">
		   	<select class="mdl-textfield__input" id='evuln' name='vuln'>
		   	  
			  
			  	<option value="xss">XSS</option>
			  
			  	<option value="sqli">SQLI</option>
			  
			  	<option value="rce">RCE</option>
			  
			  	<option value="ssrf">SSRF</option>
			  
			  	<option value="ssti">SSTI</option>	
			  
			  	<option value="csvi">CSVi</option>
			  
			  	<option value="logic">Logic</option>
			  
			  	<option value="other">Other</option>
			  
   		</select>
   	    <label class="mdl-textfield__label" for="sample3">Vulnerability</label>
	  </div>

   	  <div class="mdl-textfield mdl-textfield-mini mdl-js-textfield mdl-textfield--floating-label">
   	    <input class="mdl-textfield__input" type="text" name="award" id="ereward">
   	    <label class="mdl-textfield__label" for="sample3">Reward</label>
   	  </div>

	  <div class="mdl-textfield mdl-textfield-mini mdl-js-textfield mdl-textfield--floating-label">
   		<select class="mdl-textfield__input" name='status' id="estatus">
   		  
	   		<option value="open">Open</option>
	   		<option value="closed">Closed</option>
   		</select>
   	    <label class="mdl-textfield__label" for="sample3">Status</label>
   	  </div>
   	  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
   	    <input class="mdl-textfield__input" type="text" name="title" id="etitle">
   	    <label class="mdl-textfield__label" for="sample3">Title</label>
   	  </div>
   	  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
   	    <textarea class="mdl-textfield__input" type="text" rows= "3" name="description" id="edescription"></textarea>
   	    <label class="mdl-textfield__label" for="sample3">Description</label>
   	  </div>
       </div>

       <div class="mdl-dialog__actions">
         <button type="submit" class="mdl-button">Edit</button>
         <button type="button" class="mdl-button close">Exit</button>
       </div>
   </form>
 </dialog>