<!doctype html>
<html lang="en">
  <head>
  	{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/dog.png') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/material.cyan-light_blue.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.notify.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.notify.min.js') }}"></script>
  	<script src="{{ url_for('static', filename='js/dialog-polyfill.js') }}"></script>
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/dialog-polyfill.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/zoom.css') }}">
  {% endblock %}
  </head>

    <body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
          {% if title %}
            <span class="mdl-layout-title">{{ title }}</span>
          {% else %}
            <span class="mdl-layout-title">Bug Bounty Manager</span>
          {% endif %}
          <div class="mdl-layout-spacer"></div>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>
        </div>
      </header>

      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
          <img src="{{ url_for('static', filename='images/user.jpg') }}" class="demo-avatar"><br>
          <div class="demo-avatar-dropdown">
            <span class='username-display'>{{ username }}</span>
            <br>
          </div>
        </header>
            <button onclick="logout()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent button-delete-task" >Logout</button>

        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link" href="./"><i data-badge="{{ nbounties }}" class="mdl-color-text--blue-grey-400 material-icons mdl-badge mdl-badge--overlap" role="presentation">home</i>Bug Bounty Manager</a>
          <a class="mdl-navigation__link" href="/targets"><i data-badge="{{ ntargets }}" class="mdl-color-text--blue-grey-400 material-icons mdl-badge mdl-badge--overlap" role="presentation">assignment</i>Target's Research</a>
          <a class="mdl-navigation__link" href="/lab"><i data-badge="{{ nxss }}" class="mdl-color-text--blue-grey-400 material-icons mdl-badge mdl-badge--overlap" role="presentation">bug_report</i>Blind XSS Lab</a>
          <a class="mdl-navigation__link" href="https://www.reddit.com/r/netsec"><i class="mdl-color-text--blue-grey-400 material-icons mdl-badge mdl-badge--overlap" role="presentation">forum</i>Reddit /r/netsec/</a>
          <a class="mdl-navigation__link" href="/training"><i class="mdl-color-text--blue-grey-400 material-icons mdl-badge mdl-badge--overlap" role="presentation">weekend</i>Training and Conferences</a>
          <div class="mdl-layout-spacer"></div>
          <a class="mdl-navigation__link" href="https://github.com/sokaRepo/bugbounty"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">share</i>Project's Github</a>
        </nav>
      </div>

      <main class="mdl-layout__content mdl-color--grey-100">
        {% if page == 'targets.html' %}
          {% include 'add-target.html' %}
          {% include 'edit-target.html' %}
        {% else %}
  		    {% include 'add-bounty.html' %}
          {% include 'edit-bounty.html' %}
        {% endif %}
        
        <div class="mdl-grid demo-content demo-padding" id="content_page">
          {% include 'page.html' %}
        </div>
      </main>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/material.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dialog.js') }}"></script>
    <!-- Load modules -->
  </body>
</html>