            <div class="demo-options mdl-card mdl-color--blue-grey-600 mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--3-col-tablet mdl-cell--12-col-desktop">
              <div class="mdl-card__supporting-text mdl-color-text--blue-grey-50">
                <h3>TODO - Basic Informations</h3>
                <ul>
                  <li>
                    <label for="chkbox1" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input type="checkbox" id="chkbox1" class="mdl-checkbox__input" checked>
                      <span class="mdl-checkbox__label">07/09 Find an advisor</span>
                    </label>
                  </li>
                  <li>
                    <label for="chkbox2" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input type="checkbox" id="chkbox2" class="mdl-checkbox__input" checked>
                      <span class="mdl-checkbox__label">09/09 Register the PST4</span>
                    </label>
                  </li>
                  <li>
                    <label for="chkbox3" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input type="checkbox" id="chkbox3" class="mdl-checkbox__input" checked>
                      <span class="mdl-checkbox__label">23/09 Choose project in Excel</span>
                    </label>
                  </li>
                  <li>
                    <label for="chkbox4" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input type="checkbox" id="chkbox4" class="mdl-checkbox__input">
                      <span class="mdl-checkbox__label">01/10 Poster</span>
                    </label>
                  </li>
                  <li>
                    <label for="chkbox5" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input type="checkbox" id="chkbox5" class="mdl-checkbox__input">
                      <span class="mdl-checkbox__label">05/12 Send report - 10pages</span>
                    </label>
                  </li>
                  <li>
                    <label for="chkbox6" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                      <input type="checkbox" id="chkbox6" class="mdl-checkbox__input">
                      <span class="mdl-checkbox__label">15/03 Send final report - 30pages</span>
                    </label>
                  </li>
                </ul>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent button-delete-task" >
				  Delete task(s)
				</button>
              </div>
            </div>


            <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
              <div class="mdl-card__supporting-text mdl-color-text--grey-600 text-centered">
               	<span class="mdl-chip mdl-color--grey-300 mdl-chip-maxi"><span class="mdl-chip__text">{{ nbounties }} Vulnerabilities</span></span>
              	<span class="mdl-chip mdl-color--blue-grey-100 mdl-chip-maxi"><span class="mdl-chip__text">{{ ndollars }} $ Earned</span></span>
              	<span class="mdl-chip mdl-color--grey-200 mdl-chip-maxi"><span class="mdl-chip__text">TODO XX% Goal</span></span> 
              </div>
            </div>



