<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#xss">XSS Fires</a></li>
    <li><a data-toggle="tab" href="#payloads">Payloads</a></li>
  </ul>
  
  <div class="tab-content">
    <div id="xss" class="tab-pane fade in active">
      <table class="mdl-data-table mdl-js-data-table  mdl-shadow--1dp" id="victims_list">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--numeric" >ID</th>
            <th class="mdl-data-table__cell--non-numeric" >URL</th>
            <th class="mdl-data-table__cell--non-numeric" >Screen</th>
            <th class="mdl-data-table__cell--non-numeric" >IP</th>
            <th>Delete</th>
          </tr>
        </thead>

        <tbody id="bounty_list">
		{% for entry in xsslab %}
		<tr onclick=$('#xss-{{ entry.id }}').toggle();>

		    <td class="mdl-data-table__cell--numeric">{{ entry.id }}</td>
		    <td class="mdl-data-table__cell--non-numeric mdl-text-bold" ><a class='mdl-text-shorten' href='{{ entry.url }}'>{{ entry.url }}</a></td>
		    <td class="mdl-data-table__cell--non-numeric" >
		    	  
		    	<img src="{{ entry.screenshot }}" height="55" class="thumbnail zoom" alt="">
		    	
		    </td>
		    <td class="mdl-data-table__cell--non-numeric">{{ entry.ip }}</td>
			<td><a href="#" onclick="delete_entry('xss', {{ entry.id }})"><i class="material-icons">delete_sweep</i></a></td>

		</tr>
		<tr id='xss-{{ entry.id }}'>
		   	<td colspan="6" class='bounty-content' >
		   		<p>
		   			<b>User Agent: </b><br/>
		   			<pre class='xss-info '>{{ entry.useragent|limit }}</pre>
		   		</p>
		   		<p>
		   			<b>Cookies: </b><br/>
		   			<pre class='xss-info '>{{ entry.cookie|limit }}</pre>
		   		</p>
		   		<p>
		   			<b>DOM HTML: </b><br/>
		   			<pre class='xss-info dom-code'>{{ entry.domhtml|limit }}</pre>
		   		</p>
		   	</td>
		</tr>
		<script type="text/javascript">
		// Hide bounty description
			$('#xss-{{ entry.id }}').hide();
		</script>		   
		{% endfor %}
       </tbody>
	</table>


	
    </div>
    <div id="payloads" class="tab-pane fade">
	<script src="{{ url_for('static', filename='js/clipboard.min.js') }}"></script>
	<script type="text/javascript">new Clipboard('.btn');</script>
	<div id="payloads_list">	
		{% for entry in payloads %}
		<div>
			<div class="mdl-textfield mdl-textfield-mini mdl-js-textfield mdl-textfield--floating-label payload">
				<input id='payload' class="mdl-textfield__input" type="text" value='{{ entry }}'>
				<label class="mdl-textfield__label" for="sample3">Payload</label>
			</div>

			<button data-clipboard-text="{{ entry }}"class="btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent button-delete-task copy-payload" >
				Copy to clipboard
			</button>
		</div>
		{% endfor %}
	</div>
    </div>
  </div>
</div>

