<form id="login-form" class='middle'>
	<div class="mdl-dialog__content middle">
		<p>
		Authentication required 
		</p>

		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" name="username" id="username">
			<label class="mdl-textfield__label" for="sample3">Username</label>
		</div>
		<br>

		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="password" name="password" id="password">
			<label class="mdl-textfield__label" for="sample3">Password</label>
		</div>
		<br>

	</div>

	<div class="mdl-dialog__actions">
		<button type="button" onclick="login()" class="mdl-button">Login</button>
	</div>
</form>
<dialog class="mdl-dialog" id="loadBountyDialog">
   <h4 class="mdl-dialog__title">Progress</h4>
   <div class="mdl-dialog__content">
   		<center>
	   		<img src="{{ url_for('static', filename='images/gears.svg') }}"><br><br>
	   		<h4>Loading the latest available Bug Bounty</h4>
   		</center>
   	</div>
 </dialog>