<div class="youtube-list mdl-data-table">
	<h3>Training</h3>

	<div class="youtube-video">
		<iframe src="https://www.youtube.com/embed/videoseries?list=PLZaG0MNecryP55u43LWqHy5MADcvLjnL-" frameborder="0" allowfullscreen></iframe>
	</div>

	<div class="youtube-video">
		<iframe src="https://www.youtube.com/embed/KDo68Laayh8" frameborder="0" allowfullscreen></iframe>
	</div>

	<div class="youtube-video">
		<iframe src="https://www.youtube.com/embed/mQjTgDuLsp4" frameborder="0" allowfullscreen></iframe>
	</div>

	
	<br>

	<div class="youtube-video">
		<iframe src="https://www.youtube.com/embed/dsekKYNLBbc" frameborder="0" allowfullscreen></iframe>
	</div>

	<div class="youtube-video">
		<iframe src="https://www.youtube.com/embed/IlaBDrNd82U" frameborder="0" allowfullscreen></iframe>
	</div>
	
	<div class="youtube-video">
		<iframe src="https://www.youtube.com/embed/IlaBDrNd82U" frameborder="0" allowfullscreen></iframe>
	</div>

	
	<br>

	<div class="youtube-video">
		<iframe src="https://www.youtube.com/embed/videoseries?list=PLZaG0MNecryP55u43LWqHy5MADcvLjnL-" frameborder="0" allowfullscreen></iframe>
	</div>

	<div class="youtube-video">
		<iframe src="https://www.youtube.com/embed/KDo68Laayh8" frameborder="0" allowfullscreen></iframe>
	</div>

	<div class="youtube-video">
		<iframe src="https://www.youtube.com/embed/mQjTgDuLsp4" frameborder="0" allowfullscreen></iframe>
	</div>



</div>